.accordian {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.accordian__button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  font-size: 14px;
  outline: none;
  border: none;
  transition: background-color 0.6s ease;
  i {
    color: #727272;
    transition: transform 0.4s ease;
    &.rotate {
      transform: rotate(90deg);
    }
  }
  &.accordian__button-parent {
    background-color: #ccc;
    &:hover,
    &.active {
      background-color: #919191;
    }
  }
  &.accordian__button-child {
    background-color:#e6e6e6;
    &:hover,
    &.active {
      background-color: #ccc;
    }
  }
}

.accordian__title {
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-right: 6px;
  }
}

.accordian__tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordian__content {
  width: 100%;
  background-color: #f3f3f3;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordian__text {
  padding: 15px;
  font-size: 14px;
}
