.home__faqContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 35%;
}

.home__faqContainer-FAQ {
    font-weight: 700;
}

.home__faqContainer-header {
    margin: 10px 0px;
    display: flex;
}