.home {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: repeat(16, 6.25%) / repeat(16, 6.25%);
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-row: 5;
    grid-column: 1 / 17;
}

.home-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}