* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f4f8;
  transition: 0.4s ease-in-out;
}

body,
html,
.root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template: repeat(16, 6.25%) / repeat(16, 6.25%);
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  grid-row: 4;
  grid-column: 1 / 17;
}